{% extends 'basetimechip.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block h1 %}{{title}}{% endblock %}
{% block body %}
    <div class="row heading">
        <div class="col-xs-12">
            <h2>Co se děje u nás...</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                    <div class="thumbnail boxwrapper">
                        <div class="list-group indexbox our-news">
                            <div class="list-group-item-heading clearfix">
                                <h4>Nejbližší akce</h4>
                                <span class="fontello icon-calendar"></span>
                            </div>
                            {% for event in nextEvents %}
                                <a style="height:82px" class="list-group-item" target="_blank" href="{{event.web}}" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/{{event.icon}}-icon.gif" />
                                    </div>
                                    <h3>{{event.datum}}</h3>
                                    <p>{{event.nazev_zavodu}}</p>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 visible-lg">
                    <div class="thumbnail homepage-imagewrapper">
                        <div class="thumbnail">
                            <ul class="bxslider list-unstyled">
                                <li><img src="./img/orlice-cup.jpg" /></li>
                                <li><img src="./img/festina-24h.jpg" /></li>
                                <li><img src="./img/valachiarun.jpg" /></li>
                                <li><img src="./img/chuchle.jpg" /></li>
                                <li><img src="./img/belsky-okruh.jpg" /></li>
                                <li><img src="./img/dobroslavicky-jarni-duatlon.jpg" /></li>
                                <li><img src="./img/perun.jpg" /></li>
                                <li><img src="./img/odrivousuv-pohar.jpg" /></li>
                                <li><img src="./img/machacsky-pohodar.jpg" /></li>
                                <li><img src="./img/auto-enge-triatlon.jpg" /></li>
                                <li><img src="./img/valachiarun-vsetin.jpg" /></li>
                                <li><img src="./img/zelezny-prajzak.jpg" /></li>
                                <li><img src="./img/madeja-skialp-bila.jpg" /></li>
                                <li><img src="./img/jesenicka-70.jpg" /></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="thumbnail boxwrapper">
                        <div class="list-group indexbox our-news">
                            <div class="list-group-item-heading clearfix">
                                <h4>Poslední výsledky</h4>
                                <span class="fontello icon-table"></span>
                            </div>
                            {% for result in lastResults %}
                                <a style="height:82px" class="list-group-item" target="_blank" href="http://vysledky.timechip.cz/#" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/{{result.icon}}-icon.gif" />
                                    </div>
                                    <h3>{{result.datum}}</h3>
                                    <p>{{result.nazev_zavodu}}</p>

                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>




            </div
            
            

        </div>
    </div>

{% endblock %}