{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block h1 %}{{title}}{% endblock %}

{% block body %}
        <div class="row">
            <div class="container">
                <div class="col-lg-6">
                    <div class="panel panel-default contact">
                        <div class="hlaska"></div>

                        <div class="panel-body">
                            <h5>Kontaktní formulář</h5>
                            <div id="form-contact-wrapper">
                                    {{ form_start(email_form) }}
                                    {{ form_widget(email_form) }}
                                    {{ form_end(email_form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default contact">
                        <div class="panel-body">
                            <h5>Kontaktní údaje</h5>
                            <address>
                                <h6>Fakturační adresa</h6>
                                <i class="fontello-contact icon-home"></i><strong>Visalajka, s.r.o.</strong><br />
                                Františkova 903/1<br />
                                198 00 Praha 9
                                <h6>Identifikační údaje</h6>
                                IČ: 25834525<br />
                                DIČ:CZ25834525
                                <h6>Doručovací adresa</h6>
                                <i class="fontello-contact icon-home"></i><strong>Visalajka, s.r.o.</strong><br />
                                Visalaje 0550<br />
                                739 04 Krásná<br /><br />
                                <i class="fontello-contact icon-phone"></i>+420 776131313<br />
                                <i class="fontello-contact icon-mail"></i><a href="mailto:info@timechip.cz">info@timechip.cz</a>

                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main"></div>

{% endblock %}