<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
<title>Nejen čipová časomíra TimeChip | {% block title %}Welcome!{% endblock %}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="sport timing,čipová časomíra, měření závodů">
<meta name="description" content="Výsledkový systém a čipová časomíra">
<meta name="author" content="TimeChip">
<meta name="Robots" content="index,follow" />
<link rel="stylesheet" href="{{asset('/css/fontello.css')}}" media="screen" />
<link rel="stylesheet" href="{{asset('/css/bootstrap.css')}}" media="screen" />
<link rel="stylesheet" href="{{asset('/css/bootstrap-table.min.css')}}" media="screen" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:301,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrapper">
{{ include('_menu.html.twig') }}
<div class="underbar">
    <div class="container">
        <h1>{% block h1 %}{% endblock %}</h1>
    </div>
</div>
{% block body %}{% endblock %}
{{ include('_footer.html.twig') }}
</body>
</html>