{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block h1 %}{{title}}{% endblock %}
{% block body %}
<table class="table table-hover">
    <!--<thead>
    <tr class="header">
        <td>Název</td>
        <td>Místo</td>
        <td>Datum</td>
        <td>Sport</td>
    </tr>
    </thead>-->
    {% for event in listEvents %}
        <tr>
            <td>{{event.nazev_zavodu}}</td>
            <td>{{event.misto_zavodu}}</td>
            {% if event.datum_zavodu_konec == true %}
                <td>{{event.den_zavodu}} - {{event.datum_zavodu_konec}}</td>
            {% endif %}
            {% if event.datum_zavodu_konec == false %}
                <td>{{event.datum}}</td>
            {% endif %}
            <td>{{event.typ_zavodu}}</td>
            {% if event.web == true %}
                <td><a target="_blank" href="http://{{event.web}}">WWW</a></td>
            {% endif %}
            {% if event.web == false %}
                <td>&nbsp;</td>
            {% endif %}
            {% if event.prihlasky == true %}
                <td><a target="_blank" href="https://entry.timechip.cz">Přihlášky</a></td>
            {% endif %}
            {% if event.prihlasky == false %}
                <td>&nbsp;</td>
            {% endif %}
            {% if event.nove_vysledky == true %}
                <td><a target="_blank" href="http://vysledky.timechip.cz/#{{event.year}}/{{event.id_zavodu}}">Výsledky</a></td>
            {% endif %}
            {% if event.nove_vysledky == false %}
                <td>&nbsp;</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endblock %}